.dashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  border: 0.1rem solid var(--grey2);
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.icon {
  font-size: 6rem;
  color: var(--grey3);
  border-radius: 3rem;
  padding: 1.5rem;
  background-color: var(--blue);
  color: var(--white);
}

.infoContainer {
  width: 100%;
  border: 0.1rem solid var(--grey2);
  border-radius: 0.5rem;
  padding: 2rem 4.5rem;
}

.infoContainer h3 {
  font-size: 2rem;
}

.infoContainer li {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
  padding-left: 8rem;
}

.headerWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.link:hover {
  color: var(--blue);
}
