.operationContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  gap: 2rem;
  width: 90%;
  max-width: 1200px;
  background-color: var(--white);
  margin: 10.65rem auto 4rem auto;
  z-index: 10;
}

.filterAndSortWrapper {
  display: flex;
  gap: 1rem;
}
