.aboutUsContainer {
  padding: 2rem;
  font-size: 1.2rem;
}

.aboutUsContent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (min-width: 481px) and (max-width: 1023px) {
  .aboutUsContainer {
    width: 90%;
    font-size: 1.4rem;
    padding: 3rem;
  }
  .aboutUsContent {
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .aboutUsContainer {
    max-width: 1200px;
    font-size: 1.6rem;
    padding: 4rem;
  }
}
