.notFoundAuthContainer {
  margin-top: 4rem;
  justify-content: center;
}

.icon {
  font-size: 5rem;
  color: var(--blue);
}

.notFoundAuthContainer p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

.notFoundAuthContainer a {
  font-size: 1.5rem;
  color: var(--blue);
}

.notFoundAuthContainer a:hover {
  text-decoration: underline;
}
