.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.eventTypeContainer {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.eventTypeLabel {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.eventTypeBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.timeWrapper {
  width: 100%;
}

.fileInput {
  font-size: 1.2rem;
  display: flex;
  width: 30rem;
  gap: 5rem;
}

.fileInput::file-selector-button {
  font: inherit;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-right: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.imageUpload,
.shortDesc {
  align-self: start;
}

.termsButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.termsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--blue);
}

@media (min-width: 481px) and (max-width: 1023px) {
  .formContainer {
    max-width: 50rem;
  }
}

@media (min-width: 1024px) {
  .formContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    min-height: 80vh;
    max-width: 1000px;
  }
  .eventTypeBox {
    grid-template-columns: repeat(4, 1fr);
  }
  .termsButtonWrapper {
    grid-column: 1 / 3;
  }
  .buttonWrapper {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }
}
