.title {
  color: var(--darkblue);
  font-size: 2rem;
  font-weight: 900;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.submitEvents form {
  background-color: var(--grey1);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.formContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.formContainer:first-child {
  padding-top: 3rem;
}

.formContainer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 2rem;
}

.formContainer div label {
  font-size: 1.2rem;
  font-weight: 900;
}

.formContainer div input {
  height: 3rem;
  width: 25rem;
  border-radius: 0.5rem;
  border: 0.001rem solid var(--grey2);
  padding: 0.5rem;
}

.dropdownStyle {
  height: 3rem;
  width: 25rem;
  border-radius: 0.5rem;
  border: 0.001rem solid var(--grey2);
}

.formContainerTextarea {
  height: 16rem;
  width: 25rem;
  border-radius: 0.5rem;
  border: 0.001rem solid var(--grey2);
  padding: 1rem;
}

.formContainerSpecial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem;
  gap: 0.7rem;
}

.formContainerTerms {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--blue);
}

.formContainerCheckbox {
  display: flex;
  margin: 1rem 2rem;
}

.checkBoxHeading {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 1rem 2rem;
}

.checkboxRow {
  display: flex;
  /* flex-direction: column; */
  gap: 6rem;
  justify-content: space-between;
  align-items: center;
}

.checkboxRow div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

/* button {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--darkblue);
    border-radius: 1.5rem;
    height: 2.5rem;
    width: 7.5rem;
    margin: 1.5rem;
} */

.btnEvents {
  background-color: var(--darkblue);
  margin: 1.5rem;
  width: 14rem;
}

.errorMsg {
  color: red;
  font-size: 1.2rem;
  /* align-self: center; */
  align-self: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.errorMsgType {
  color: red;
  font-size: 1.2rem;
  /* align-self: center; */
  align-self: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 767px) {
  .submitEvents {
    width: auto;
  }
  .formContainer {
    flex-direction: column;
    gap: 0rem;
  }
  .btnEvents {
    font-size: 1rem;
    width: 7rem;
  }
}
