.operationContainer {
  position: fixed;
  top: 9.5rem;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.searchSortWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.rightSideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.filterIcon {
  font-size: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 1023px) {
  .operationContainer {
    top: 9.63rem;
    position: absolute;
    width: 90%;
    margin: auto;
  }
  .searchSortWrapper {
    flex-direction: column;
  }
  .rightSideWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .operationContainer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    top: 7rem;
    position: absolute;
  }
  .searchSortWrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .rightSideWrapper {
    flex-direction: row;
    width: 100%;
  }
}
