.operationContainer {
  position: fixed;
  top: 9.5rem;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
}

.searchSortWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* margin-top: 1rem; */
}

.filterIcon {
  font-size: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 1023px) {
  .operationContainer {
    top: 9.63rem;
  }
  .searchSortWrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .operationContainer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    top: 9.6rem;
    padding-top: 1.5rem;
  }
  .searchSortWrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
