.termsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--blue);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.contactButton {
  background-color: var(--darkblue);
  margin: 1rem;
  font-size: 1.2rem;
  width: 8rem;
}
