.filterContainer {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  border: 0.1rem solid var(--grey2);
  background-color: var(--white);
  border-radius: 0.2rem;
  padding: 0.4rem;
  gap: 0.3rem;
}

.filterBtn {
  font-family: inherit;
  width: fit;
  padding: 1rem;
  background-color: var(--white);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s;
}

.filterBtn:hover:not(:disabled) {
  background-color: var(--blue);
  color: var(--white);
}

.activeFilterBtn {
  font-family: inherit;
  width: fit;
  background-color: var(--blue);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s;
  color: var(--white);
}
