.filterContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  max-width: 30rem;
  /* margin-bottom: 2rem; */
}

.filterContainer::-webkit-scrollbar {
  display: none;
}

.filterBtn,
.activeFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: auto;
  padding: 0.5rem;
  border: 0.1rem solid var(--grey2);
  border-radius: 0.3rem;
  margin-right: 1.5rem;
}

.filterBtn {
  color: var(--black);
  background-color: var(--white);
}
.activeFilter {
  color: white;
  background-color: var(--blue);
}

@media (min-width: 481px) and (max-width: 1023px) {
  .filterContainer {
    max-width: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1316px) {
  .filterContainer {
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    /* margin: 1rem auto 0 auto; */
    flex-wrap: wrap;
  }

  .filterBtn,
  .activeFilter {
    font-size: 1rem;
    width: 14rem;
    padding: 0.7rem;
    border-radius: 2rem;
    margin: 0.5rem;
  }
}

@media (min-width: 1317px) {
  .filterContainer {
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    /* margin: 1rem auto 0 auto; */
    flex-wrap: wrap;
  }

  .filterBtn,
  .activeFilter {
    font-size: 1.1rem;
    width: 18.5rem;
    padding: 0.9rem;
    border-radius: 2rem;
    margin: 0.5rem;
  }
}
