footer {
  width: 100%;
  padding: 2rem;
  color: var(--white);
  background-color: var(--grey3);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footerContainer a {
  text-decoration: none;
}

.email {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.email p {
  color: var(--white);
}

.termsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.termsWrapper p:first-child {
  color: var(--blue);
}

.socialWrapper {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.icon {
  font-size: 2rem;
  vertical-align: center;
  color: var(--white);
}

@media (min-width: 768px) {
  .footerContainer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 5rem;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .email {
    margin-bottom: 0;
  }

  .termsWrapper {
    margin-bottom: 0;
  }

  .termWrapper p:first-child {
    margin-right: 1rem;
  }

  .socialWrapper {
    margin-bottom: 0;
    gap: 1.5rem;
  }

  .icon {
    font-size: 2.5rem;
  }
}
