.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.paginationText {
  color: var(--black);
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  transition: all 0.3s;
}

.pageBtn {
  display: flex;
  width: 10rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: none;
  transition: all 0.3s;
  border-radius: 0.5rem;
}

.pageBtn:hover {
  font-weight: bold;
  color: var(--blue);
}
