.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30rem;
  width: 100%;
}

.searchBox {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  font-size: 1.5rem;
  background-color: var(--grey1);
  border: none;
  border-radius: 0.3rem;
  padding: 0rem 2rem;
  font-family: inherit;
}

.searchBox:focus {
  outline: 0.1rem solid var(--blue);
}

.searchBox::placeholder {
  color: var(--black);
  font-size: 1.4rem;
  font-family: poppins;
}

.icon {
  font-size: 2rem;
  margin-left: 2rem;
}
