.select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 30rem;
  height: 4rem;
  border: 0.1rem solid var(--grey2);
  background-color: var(--white);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.2rem;
}

/* .select {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  border: 0.1rem solid var(--grey2);
  background-color: var(--white);
  border-radius: 0.2rem;
  padding: 0.4rem;
  font-family: inherit;
  font-size: 1.2rem;
} */
