.table {
  width: 90%;
  border: 0.1rem solid var(--grey2);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem;
}

.tableHeader {
  color: var(--darkblue);
  border-bottom: 0.1rem solid var(--grey2);
  font-weight: bold;
  font-size: 1.5rem;
  height: 3rem;
  padding: 2rem;
}

.tableRow {
  border-bottom: 0.1rem solid var(--grey2);
  padding: 2rem;
  font-size: 1.5rem;
}
