.termsContainer {
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  border-top: 0.1rem solid var(--grey2);
}

.termsContainer h2 {
  font-size: 2rem;
  color: var(--darkblue);
}

.termsContainer h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.termsContent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.orderList {
  margin: 1rem 3rem;
  font-weight: 700;
}

.unorderList {
  list-style-type: disc;
  color: var(--black);
  margin: 1rem;
  padding-left: 2rem;
  font-weight: 500;
}
