.title {
  color: var(--darkblue);
  font-size: 2rem;
  font-weight: 900;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.termsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--blue);
}

.formbtnContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.btnContact {
  background-color: var(--darkblue);
  margin: 1rem;
  font-size: 1.2rem;
  width: 8rem;
}
