.eventContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: centre;
  align-items: centre;
  width: 100%; */
  max-width: 1000px;
  border: 0.1rem solid var(--grey2);
  padding: 2rem;
}

.imageContainer {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  color: var(--darkblue);
  font-size: 2.5rem;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

.emptyHeartIcon,
.heartIcon,
.shareIcon {
  display: flex;
  align-items: center;
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
  vertical-align: baseline;
  cursor: pointer;
}

.heartIcon {
  color: var(--red);
}

.shortDesc {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dateEventFormatContainer {
  display: flex;
  justify-content: space-between;
}

.dateAndTime {
  font-weight: bold;
  font-size: 2rem;
}

.dateAndTime span {
  font-weight: normal;
}

.format {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--blue);
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--blue);
}

.location {
  font-weight: bold;
  font-size: 1.5rem;
}

.locationInfo {
  font-size: 1.5rem;
}

.broughtBy {
  font-size: 1.5rem;
  font-weight: bold;
}

.organization {
  font-size: 1.5rem;
}

.institution {
  font-weight: bold;
  font-size: 1.5rem;
}

.descriptionTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.eventDescription {
  font-weight: normal;
  font-size: 1.5rem;
}


@media only screen and (max-width: 1050px) {
  
}