.eventContainer {
  display: flex;
  flex-direction: column;
  justify-content: centre;
  align-items: centre;
  width: 100%;
  max-width: 1000px;
  border: 0.1rem solid var(--grey2);
  padding: 2rem;
}

.imageContainer {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  color: var(--darkblue);
  font-size: 1.5rem;
  font-weight: bold;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}

.emptyHeartIcon,
.heartIcon,
.icon {
  display: flex;
  align-items: center;
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  vertical-align: baseline;
  cursor: pointer;
}

.heartIcon {
  color: var(--red);
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.dateEventFormatContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dateAndTime {
  font-weight: bold;
  font-size: 1.5rem;
}

.dateAndTime span {
  font-weight: normal;
}

.format {
  font-weight: bold;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--blue);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--blue);
}

.location,
.broughtBy,
.institution,
.descriptionTitle {
  font-weight: bold;
}

@media (min-width: 375px) and (max-width: 480px) {
  .imageContainer {
    height: 20rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .imageContainer {
    height: 30rem;
  }
}

@media (min-width: 768px) {
  .imageContainer {
    height: 40rem;
  }

  .name {
    font-size: 2rem;
  }

  .buttonWrapper {
    gap: 2rem;
  }

  .emptyHeartIcon,
  .heartIcon,
  .icon {
    font-size: 2.5rem;
  }

  .dateEventFormatContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .listContainer {
    font-size: 1.5rem;
  }

  .dateAndTime,
  .price {
    font-size: 1.5rem;
  }

  .format {
    font-size: 1.2rem;
  }

  .location,
  .broughtBy,
  .institution,
  .descriptionTitle {
    font-size: 1.5rem;
  }
}
