.eventCard {
  text-decoration: none;
  position: relative;
}

.eventCard:link,
.eventCard:visited {
  color: inherit;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 1rem;
  gap: 0.3rem;
  height: 27rem;
  width: 37rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  background-color: var(--grey1);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.eventImage {
  height: 14rem;
  width: 37rem;
  object-fit: cover;
}

.eventHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 1rem;
  font-weight: 600;
}

.eventHeader h4 {
  color: var(--darkblue);
  font-weight: 900;
}

.headerRightSide {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.eventHeader h3 {
  color: var(--green);
  font-size: 1.2rem;
}

.event p {
  padding: 0rem 1rem;
  color: var(--black);
}

#eventType {
  color: var(--blue);
  font-weight: bold;
  font-size: 1.3rem;
}

.emptyHeartIcon {
  display: flex;
  align-items: center;
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0.5rem;
  vertical-align: baseline;
}

.heartIcon {
  display: flex;
  align-items: center;
  color: var(--red);
  font-size: 2rem;
  margin-right: 0.5rem;
}

.shortDesc {
  overflow: hidden;
}

.overlayButtons {
  display: none;
  position: absolute;
  top: 15%;
  right: 15%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.overlayButtons button {
  color: var(--white);
  background: none;
  border: none;
  cursor: pointer;
}

.eventCard:hover .overlayButtons {
  display: flex;
}

.overlayButtons button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--white);
  box-shadow: none;
}

@media only screen and (max-width: 1080px) {
  .event {
    width: 35rem;
  }
  .eventImage {
    width: 35rem;
  }
  .eventHeader h4 {
    padding-left: 1rem;
  }
  .event p {
    padding-left: 2rem;
  }
  .eventType {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 980px) {
  .event {
    width: 30rem;
    height: 25rem;
    font-size: 1.2rem;
  }
  .eventImage {
    width: 30rem;
  }
}

@media only screen and (max-width: 870px) {
  .event {
    width: 25rem;
  }
  .eventImage {
    width: 25rem;
  }
}

@media only screen and (max-width: 730px) {
  .event {
    width: 20rem;
    /* height: auto; */
    font-size: 1rem;
  }
  .eventImage {
    width: 20rem;
  }
  .eventHeader h4 {
    padding-left: 0rem;
  }
  .event p {
    padding-left: 1rem;
  }
  .eventType {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 620px) {
  .event {
    width: 15rem;
    /* height: auto; */
    font-size: 0.8rem;
  }
  .eventImage {
    width: 15rem;
    height: 15rem;
  }
}
