.container {
    display: flex; 
    flex-direction: column; 
    justify-content: left; 
    align-items: left;
  }

.eventImage {
  width: 1000px; 
  height: 500px; 
  display: block; 
  margin: 0 auto;

}

.name_of_event {
  color: #02057B;
  font-size: 2.5em; 
}

.dateAndTime {
  font-weight: bold;
  font-size: 2em;
  
}

.price {
    font-weight: bold;
    font-size: 2em;
}

.location {
  font-weight: bold;
  margin-top: 10px;
  font-size: 2em;  
}

.location span {
    font-weight: normal;
    font-size: 1em;
  }

.broughtBy {
  font-weight: bold;
  margin-top: 10px;
  font-size: 2em;

}

.broughtBy span {
    font-weight: normal;
    font-size: 1em;
  }

.descriptionTitle {
  font-weight: bold; 
  margin-top: 10px;
  font-size: 2em;
}

.eventDescription {
    font-weight: normal;
    font-size: 1.5em;
  }
  

/* .link {
  display: none; 
} */
