.search {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 45rem;
  font-size: 1.5rem;
  background-color: var(--grey1);
  /* color: var(--black); */
  border-radius: 1rem;
  padding: 0rem 2rem;
}
