.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 50rem;
  padding: 3rem;
  border: 0.1rem solid var(--grey2);
}

.errorMsg {
  color: red;
  font-size: 1.2rem;
  align-self: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}

.linkWrapper a {
  font-size: 1.2rem;
}

.linkWrapper a:hover {
  color: var(--blue);
  text-decoration: underline;
}

@media (min-width: 481px) and (max-width: 1023px) {
  .signupContainer {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .signupContainer {
    width: 50%;
  }
}
