.updateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  min-height: 80vh;
}

.errorMsg {
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
  align-self: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.deleteAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  border: 0.1rem solid var(--grey2);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  margin-top: 2rem;
}
