.updateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: auto;
  margin: auto;
  padding: 3rem 1rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.05), 0 0 0 0.1rem rgba(0, 0, 0, 0.08);
}

.updateContainer label {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.inputRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  margin: 1rem;
  gap: 0.5rem;
}

.input {
  height: 3rem;
  width: 100%;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.05), 0 0 0 0.1rem rgba(0, 0, 0, 0.08);
  border: none;
  padding: 0.8rem;
  font-family: inherit;
}

.errorMsg {
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
  align-self: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}